<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pdm.fia.ues.sv.bolsa">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".OfertaMenuActivity" />
        <activity android:name=".Filtro" />
        <activity android:name=".AplicacionActivity" />
        <activity android:name=".SeleccionadoActivity"></activity>
    </application>

</manifest>